appdata/authelia/db.sqlite3
appdata/authelia/users_database.yml
appdata/traefik2/acme/acme.json
appdata/plexms/
appdata/portainer/
logs/cloudserver/traefik/access.log
logs/cloudserver/traefik/traefik.log
shared/.htpasswd
.env
appdata/authelia/notification.txt
secrets/
appdata/sabnzbd/sabnzbd.ini
appdata/sabnzbd/sabnzbd.ini.bak
appdata/sabnzbd/admin/history1.db
appdata/sabnzbd/admin/postproc2.sab
appdata/sabnzbd/admin/queue10.sab
appdata/sabnzbd/admin/rss_data.sab
appdata/sabnzbd/admin/totals10.sab
appdata/sabnzbd/admin/watched_data2.sab
appdata/sonarr/
appdata/radarr/
logs/
